<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        form{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        input{
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h1>{{ post.title }}</h1>
<h3>{{ post.description }}</h3>

<form method="post" action="{% url 'comment_create' post.id %}">
    {% csrf_token %}
    <input name="username" placeholder="Username">
    <input name="text" placeholder="Comment Text">
    <input type="submit">
</form>
<hr/>
<h1>Rating</h1>
{% if rating %}
    <h1>{{ rating }}</h1>
{% endif %}
<form method="post" action="{% url 'rating_create' post.id %}">
    {% csrf_token %}
    {{ rating_form }}
    <input type="submit">
</form>
{% if comments %}
    {% for comment in comments %}
         <hr>
        <h3>{{ comment.username }}</h3>
        <h6>{{ comment.text }}</h6>
    {% endfor %}
{% endif %}
</body>
</html>